body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
#message_erreur{
  margin-top: 5px;
  color: #fe3004;
  font-weight: bold;
  font-size: 18px;
  background-color: #ffd1c7;
}

#message{
  color: #00cc2e;
  font-weight: bold;
  font-size: 19px;
  background-color: #bbfcc9;
}
h1{
  font-size: 32px;
  text-shadow: -1px -1px black, 1px 1px #C8AD7F, -3px 0 4px #000;
  font-family:Arial, Helvetica, sans-serif;
  color: #fff;
  padding:16px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #888;  
  -webkit-box-shadow: 2px 2px 6px #888;  
  box-shadow:2px 2px 6px #888;  
  text-align:center;
  display:block;
  margin:16px;
  background-color:#77B5FE;  
}
#bouton{
  text-align: center;
}
#recommencer{
  text-decoration: none;
}
#pierre,#feuille,#ciseau{
  margin-right: 20px;
   margin-left: 20px;
}
img{
  width: 80px;
  height: 80px;
}
#sc_user,#sc_robot{
  margin-left: 50%;
  display: inline-block;
    font-weight: bold;
    width: 100px;
    height: 100px;
    margin: 100px;
    margin-top: 0;
    margin-bottom: 40px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0, .4);
    text-align: center;
    padding-top: 1px;
}
#score{
  margin: 20px;
  display: block;
  text-align: center;
}
/*#resultat{
  font-weight: bold;
  width: 600px;
  height: 100px;
  margin: 100px auto;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0, .4);
  text-align: center;
  padding-top: 30px;
}*/
#combat{
  display: block;
  text-align: center;
}
#fight{
  font-weight: bold;
  width: 900px;
  height: 200px;
  margin: 10px auto;
  background-color: #FFFFFFDE;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0, .4);
  text-align: center;
  padding-top: 5px;

}
#user,#robot{
  margin-left: 50%;
  display: inline-block;
  font-weight: bold;
  width: 100px;
  height: 100px;
  margin: 100px;
  margin-top: 0;
  text-align: center;
  padding-top: 1px;
}
#head{
  font-size: 25px;
  text-shadow: -1px -1px black, 1px 1px black, -3px 0 4px #000;
  font-family:Arial, Helvetica, sans-serif;
  color: #fff;
  padding:10px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #888;  
  -webkit-box-shadow: 2px 2px 6px #888;  
  box-shadow:2px 2px 6px #888;  
  text-align:center;
  display:block;
  margin:10px;
  margin-left: 38%;
  margin-right: 38%;
  background-color:#77B5FE;  
}
#res{
  font-weight: bold;
  width: 500px;
  height: 20px;
  margin: 20px auto;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0, .4);
  text-align: center;
  padding-top: 1px;

}
form.inscription{
  font-weight: bold;
  width: 700px;
  height: 700px;
  margin: 140px auto;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0, .4);
  text-align: center;
  padding-top: 15px;

  background-color: white; 
}
form.connexion{
  font-weight: bold;
  width: 600px;
  height: 400px;
  margin: 150px auto;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0, .4);
  text-align: center;
  padding-top: 40px;
  background-color: white; 
  margin-bottom: 12%;
}
body{
  background-image: url('images/background.jpg');
}
footer,#footer{
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
  background-color: black;
  color: white;
  margin-bottom: -10px;
}
#jeu{
  font-weight: bold;
  width: 800px;
  height: 450px;
  margin: 10px auto;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0, .4);
  text-align: center;
  padding-top: 15px;
  background-color: #FFFFF299;
}
#none{
  text-decoration : none;
}
#recommencer,#deconnexion{
  text-decoration : none;
  margin-top: 10px;
  font-size: 20px;
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
#recommencer{
  margin-bottom: 100px;
}

#recommencer:hover,#deconnexion:hover {
  background-color: #77B5FE;
  color: white;
}
#footer{
  {
    margin-top: 50px;
}